@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bacasime+Antique&family=Oswald:wght@300;400;500&display=swap');


.navbar{
    position: fixed;
    font-family: 'Acme', sans-serif;
}

.navbar-brand{
    color: rgb(254, 182, 182);
    position:relative;
    
}

#shop-product{
    color:rgb(61, 0, 102);
    text-align: center;
    font-family: 'Acme', sans-serif;
}

i{
    cursor:pointer;
}

#card1{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card2{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card3{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card4{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card5{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card6{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card7{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card8{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card9{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card10{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card11{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}

#card12{
    color:black;
    background-color: rgb(219, 181, 255);
    text-align: center;
    border: 2px solid rgb(43, 0, 70);
    font-family: 'Acme', sans-serif;
}
